#wrapper {
	padding: 15px;
}

#header {
	width: 100%;
	border-bottom: 2px solid black;
}

	#header h2 {
		display: inline-block;
		vertical-align: bottom;
		padding-top: 10px;
		padding-left: 10px;
	}

	#header a {
		display: inline-block;
		float: right;
		margin-top: 15px;
		margin-right: 10px;
	}

#content {
	padding: 10px;
}

#update_book {
	display: inline-block;
	width: 400px;
	vertical-align: top;
	margin: auto;
	margin-right: 170px;
	margin-bottom: 15px;
}

#title {
	font-size: 30px;
}

#desc {
	padding-bottom: 90px;
}

input {
	width: 60%;
	margin-bottom: 10px;
}

label {
	width: 35%;
	vertical-align: top;
}

button {
	margin-left: 47%;
}

#all_books {
	display: inline-block;
}

.messages {
	color: red;
	list-style-type: none;
	font-size: 12px;
	margin-top: 10px;
	text-align: center;
	padding: 0;
}

.book_listing {
	margin-bottom: 10px;
}

	.book_listing p {
	margin: 0;
	}
